-# edit.html.haml using partial

%h1 Add notes

= form_tag shot_path(@shot), :method => :put do

  = label :shot, :source, 'Get from source'
  = text_field :shot, :source

  = label :shot, :important, 'Important'
  = select :shot, :important, [true, false]


  = label :shot, :connection_second, 'Connection second'
  = text_field :shot, :connection_second
  
  = label :shot, :connection_second_url, 'Connection second'
  = text_field :shot, :connection_second_url
  
  = label :shot, :connection_first, 'Connection first'
  = text_field :shot, :connection_first
  
  = label :shot, :connection_second_url, 'Connection second'
  = text_field :shot, :connection_first_url
  
  = label :shot, :headline, 'Shot'
  = text_field :shot, :headline
  
  = label :shot, :comments, 'Notes'
  = text_field :shot, :comments
  
  %div
  = submit_tag 'Update shot Info'
