-#  This file is app/views/hunters/index.html.haml
%div#hunters
  %table#hunters
    %tbody
    - @hunters.each do |hunter|
      %tr
        %td= hunter.name
        %td= link_to (hunter.active ? image_tag(hunter.image_url) : image_tag("inactive_hunter.png")), hunter_path(hunter)+"/toggle", :method => :update 
        %td
          = form_tag "/hunters/check" do
            = label :hunter, 'Token'
            %input{:type => 'text', :id=>'token', :name=>'token', :value=> hunter.token}
            = label :hunter, 'Enter  name'
            %input{:type => 'text', :id=>'name', :name=>'name'}
            %div
            = submit_tag 'Check connection'
        %td= button_to 'remove', hunter_path(hunter), :method => :delete, :confirm => 'Are you sure?'
    %div= link_to image_tag("add_hunter.png"), "/auth"      
